extends layout.pug

block content
  main.page-content
    include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each pugOffer in pugOffers
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${pugOffer.picture}` alt=pugOffer.title)
                .ticket-card__info
                  +ticketLabel(pugOffer.type)
                  .ticket-card__categories
                    a(href="#") #{pugOffer.category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{pugOffer.title}
                    p.ticket-card__price
                      span.js-sum #{pugOffer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{pugOffer.description}
